#root {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  
}

h1 {
  margin: 0px;
}

.available-tag-main {
  display: none;
} 

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  max-height: auto;
  margin-bottom: 6rem;
}

.main-content h1 {
  font-size: 80px;
  line-height: 88px;
  letter-spacing: -1px;
  font-weight: 500;
  margin-bottom: 16px;
}

.main-content p {
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: -0.5px;
  font-weight: 00;
  max-width: 559px;
  color: #9E9E9E;
  margin-bottom: 24px;
}

.contact-link button {
  background-color: #ffffff;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  color: #0A0A0A;
  font-size: 0.875rem;
  cursor: pointer;
  max-width: 100%;
}

.cards {
  overflow: hidden;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  transition: transform 0.3s ease;
  object-fit: cover;
  
}

.cards a {
  display: block;
  max-width: 460px;
  width: 100%;
}

.cards a img {
  display: flex;
  height: auto;
  border-radius: 1rem;
  transition: transform 0.3s;
  object-fit: cover;
  width: 100%;
  max-width: 460px;
}

.cards a img:hover {
  transform: scale(1.05);
  
}

/* Main.css

.masked-element {
  overflow: hidden;
}

.masked-element h1{
  transform: translateY(100%);
}

.masked-element p {
  transform: translateY(100%);
} */


@media screen and (max-width: 768px) {

  .main-content {
    padding: 0px 1.25rem;
  }

  .main-content h1 {
    font-size: 3rem;
    line-height: 120%;
    margin-bottom: 1.25rem;
  }

  .main-content p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 3.5rem;
  }

}

@media screen and (max-width: 500px) {

  .available-tag-main p {
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin: 0px;
    color: #ffffff;
  }
  
  .available-tag-main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262626;
    padding: 4px 20px;
    border-radius: 1.5rem;
    height: 1.5rem;
    gap: 12px;
    border: 1px solid #333333;
  }
  
  .available-tag-main span {
    height: 5px;
    width: 5px;
    background-color: #23B064;
    border-radius: 50%;
    z-index: 1;
    animation: available-tag-animation 1.5s infinite;
    
  }

  .cards {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

}

@media screen and (max-width: 450px) {

  .main-content h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1px;
    margin-top: 1rem;
  }

  .contact-link   {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .contact-link button {
    width: 450px;
    min-height: 3rem;
  }

}