:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 150%;
  font-weight: 400;
  
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: #0A0A0A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

* {
  margin: 0px;
  padding: 0px;
  
}

body {
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  margin: 0px;
  font-family: "Inter", sans-serif;
  
}